/* Table of Contents
----------------------------------

0- Global CSS
1- Heading CSS
2- Button CSS
3- Header Area CSS
4- Home Area CSS
5- About Area CSS
6- Qualification Area CSS 
7- Services Area CSS
8- Portfolio Area CSS
9- Testimonials Area CSS
10- Blog Area CSS
11- Contact Area CSS
12- Footer Area CSS
13- Scroll-Top Area CSS

*/


/*--------------------- 0- Global CSS (Start) ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --navy: #2B2D42;
    --white: #EDF2F4;
    --grey: #8D99AE;
    --green: #3C6E71;
    --black: #353535;
    --red1: #EF233C;
    --red: #D90429;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

*::selection {
    color: var(--white);
    background-color: var(--navy);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background-color: var(--white);
}

section {
    padding: 2rem 5%;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--navy);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

.swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active {
    width: 3rem;
    background: var(--navy);
}

/* Center pagination bullets on mobile devices */
@media (max-width: 768px) {
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading{
    margin-bottom: 2rem;
}

.heading h2{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--navy);
    font-size: 4rem;
}

.heading h2 span{
    position: relative;
    z-index: 0;
    color: var(--green);
}

.heading h2 span::before{
    content: '';
    position: absolute;
    bottom: -0.5rem; left: 0;
    z-index: -1;
    background: var(--navy);
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--navy);
    background-color: transparent;
    border: 0.2rem solid var(--navy);
    border-radius: 5px;
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--white);
    background-color: var(--navy);
    cursor: pointer;
}


#greetingbtn {
    max-width: 60%;
    padding:  5px 8px 5px 8px;
    background-color: var(--green);
    border-radius: 15px;
    position: relative;
    font-size: 1.3rem;
    line-height: 1.4;
    color: var(--white);
}

#greetingbtn:hover{
    color: var(--white);
    background-color: var(--navy);
    cursor: pointer;
}
/*--------------------- 2- Button CSS (End) ---------------------*/



/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header{
    position: fixed;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    z-index: 8;
}

header.sticky{
    background: var(--grey);
}

header .logo h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--navy);
    text-transform: lowercase;
    letter-spacing: 0.2rem;
}

header .navbar a{
    color: var(--navy);
    font-size: 1.8rem;
    margin-right: 5rem;
    text-transform: capitalize;
    
}


header .navbar a:hover {color: var(--green)}


    

header #menu-btn{
    font-size: 3rem;
    color: var(--navy);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    display: none;
}

header .fa-times{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

header #menu-btn:hover{
    color: var(--green);
}

/*--------------------- 3- Header Area CSS (End) ---------------------*/



/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home{
    padding: 0rem 5%;
    background-color: var(--white);
    min-height: 100vh;
}

.home #homecontact{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;    /* Position at the bottom */
    left: 50%;        /* Center horizontally */
    transform: translateX(-50%); /* Center align */
    margin-bottom: 20px; /* Optional: adds some space from bottom */    
    align-items: center;
}

.home .social{
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.home .social .fab, .home .social .fas{
    background-color: var(--white);
    border-radius: 50%;
    border: 2px var(--navy) solid;
    border-color: var(--navy);
    height: 3.5rem;
    width: 3.5rem;
    color: var(--navy);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;

}

.home .social .fab:hover, .home .social .fas:hover{
    color: var(--white);
    background-color: var(--navy);
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    padding-top: 13%;
    margin-bottom: 5%;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(-5%);
    }
}

.home .image {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    opacity: 0; /* Start invisible */
    animation: slideIn 1s ease forwards; /* Trigger the slideIn animation */
}


.home .image img{
    height: 60rem;
    width: 50rem;
    border-radius: 10% 10% 10% 10% ;
    object-fit:cover;
    
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center ;
    padding-top: 8%;
    
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--navy);
    text-align: center;
}

.home .content h1{
    font-size: 3.5rem;
    color: var(--navy);
    padding: 1rem 0;
    text-transform: none;
    text-align: center;
}

.home .content h1 span{
    color: var(--red);

}

.home .content p{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--green);
    line-height: 1.5;
    padding-left:15%;
    text-align: left;
}


.home .content span{
    text-transform: none;
}

.home .content #homebtn{
    width: fit-content;
    margin-bottom: 15px;
    border-radius: 40px;
}
/*--------------------- 4- Home Area CSS (End) ---------------------*/



/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.about .image{
    width: 32rem;
    text-align: center;
    
}

.about .image img{
    width: 100%;
    border-radius: 10% 0% 10% 0%;
}

.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
        flex: 1 1 55rem;
}

.about .content h2{
    font-size: 3rem;
    color: var(--navy);
    padding-bottom: 1rem;
}

.about .content > p{
    font-size: 1.6rem;
    color: var(--black);
    line-height: 1.6;
    padding-bottom: 1rem;
    padding-top: 15px;
    text-transform: none;
}

.about .content .about-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}



.about .content .about-info .info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
        flex: 1 1 15rem;
}

.about .content .about-info .info h4{
    font-size: 1.6rem;
    color: var(--green);
    padding-bottom: 1rem;
}

.about .content .about-info .info span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
    text-transform: none;
}

.about .content .about-info .info .btn{
    margin-top: 1rem;
}

.counting{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
        flex: 1 1 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
}

.counting{
    border: 5px solid var(--green);
    border-radius: 5px;
}


.counting .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18rem;
        flex: 1 1 18rem;
    text-align: center;
    background-color: var(--white);
    padding: 2rem;
}

.counting .box .count{
    font-size: 3.5rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.counting .box .count1{
    font-size: 2rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.counting .box .count2{
    font-size: 3.5rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.counting .box #therapy{
    font-size: 1.5rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.counting .box #managing{
    font-size: 1.5rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.counting .box h3{
    font-size: 1.8rem;
    color: var(--green);
}

.skill-container{
    padding: 2rem 0;
}

.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skill-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
        flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box{
    padding:1rem 0;
}

 .skill-item .box h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color: var(--green);
    font-weight: 400;
}

 .skill-item .box .progress-bar{
    width:100%;
    background: var(--grey);
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.skill-item .box .progress-bar span {
    display: block;
    height: 100%;
    background: var(--green);
    width: 0; /* Start width at 0 for animation */
    transition: width 2s ease-in-out; /* Smooth animation */
}

 .skill-item.item1 .box:nth-child(1) .progress-bar span{
    width:95%;
}

 .skill-item.item1 .box:nth-child(2) .progress-bar span{
    width:90%;
}

 .skill-item.item1 .box:nth-child(3) .progress-bar span{
    width:85%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span{
    width:75%;
}

 .skill-item.item2 .box:nth-child(2) .progress-bar span{
    width:65%;
}

 .skill-item.item2 .box:nth-child(3) .progress-bar span{
    width:100%;
}

/*--------------------- 5- About Area CSS (End) ---------------------*/



/*--------------------- 6- Qualification Area CSS (Start) ---------------------*/
.qualification .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.education, .experience{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}

.experience-item{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    padding: 0 3rem 2rem 3rem;
    border-left: 0.2rem solid var(--navy);
    margin-left: 2rem;
}

.experience-item i{
    position: absolute;
    top: 0; 
    left: -2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--white);
    background:var(--navy);
}

.experience-item .content{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-left: 2rem;
}

.experience-item span{
    background: #222;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
}

.experience-item h3{
    font-size: 2.5rem;
    color: var(--white);
    padding: 2rem 0;
}

.experience-item p{
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/*--------------------- 6- Qualification Area CSS (End) ---------------------*/



/*--------------------- 8- Portfolio Area CSS (Start) ---------------------*/
.controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;
    
}

.portfolio{
    margin-bottom: 10px;
    min-height: 100vh;
}

.controls .button{
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 5px;
}

.controls .button.active{
    cursor: pointer;
    background-color: var(--navy);
    color: var(--white);
}

.portfolio .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 0.5rem;
    padding: 2rem 0; 
    height: 100%;
}

.portfolio .gallery p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--navy);
    margin-bottom: 5px;
    padding-top: 10px;
}



.portfolio-item{
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.portfolio-item_photography{
    border-radius: 0.5rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.portfolio-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.portfolio-item .photography {
    height: 100%;
    width: 100%;
    object-fit:scale-down;
}


.portfolio-item .content {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: var(--navy);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0); 
    z-index: 8;
    flex-direction: column;
    padding: 2rem;
    padding: 10%;
}

#hidebtn {
    position: fixed;
    top: 5%; 
    right: 5%;
    padding: 10px 20px;
    background-color: var(--navy);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transform: scale(0);
}

.portfolio-item .content.active {
    transform: scale(1); 
    opacity: 1; 
    z-index: 9;
}





.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.close-btn:hover {
    color: var(--red); 
}

.portfolio-item .content h4{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

.portfolio-item .content ul {
    list-style-type: disc; /* Use disc bullets */
    padding-left: 20px; /* Indentation for the list */
    margin-bottom: 20px;
}


.portfolio-item .content li{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
    line-height: 2rem;}

.portfolio-item .content p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 5px;
    line-height: 2rem;
}





.portfolio-item .content a{
    font-size: 1.5rem;
    color: var(--white);
    padding-top: 5px;
    
}

.portfolio-item:hover .content .view-btn{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover img, .portfolio-item:hover video{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

/*CSS3 Animation Effects for Magnific Popup*/

/* start state */
.mfp-newspaper  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
            transition: all 0.2s ease-in-out; 

    -webkit-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
            transition: all 0.2s ease-in-out; 
}
  
/* animate in */
.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}
  
/* animate out */
.mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg);
    opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}


/*--------------------- 8- Portfolio Area CSS (End) ---------------------*/






/*--------------------- 12- Footer Area CSS (Start) ---------------------*/
footer{
    background-color: gray;
    padding: 2rem 0;
    text-align: center;
}

footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab, footer .social .fas{
    background-color: #353535;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
    justify-content: center;
}

footer .social .fab:hover, footer .social .fas:hover{
    color: #353535;
    background-color: var(--white);
}

footer .content p{
    font-size: 1rem;
    color: var(--white);
}

footer .content p span{
    color: #353535;
}

/*--------------------- 12- Footer Area CSS (End) ---------------------*/



/*--------------------- 13- Scroll-Top (Start) ---------------------*/
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight:lighter;
    background: #353535;
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-top:hover{
    background: var(--white);
    color:#353535;
  }

/*--------------------- 13- Scroll-Top (End) ---------------------*/